/**
* customized divs (containers) and framed objects (background and frame image).
*/

/* game div without background image*/
.rpgui-container {
	display: grid;
	justify-content: center;
	place-self: center;
	max-width: 1400px;
	/* overflow-y: "auto" */
}

@media screen and (max-width: 640px) {
	.rpgui-container{
		transform: scale(0.90);
        font-size: 0.7em;
	}
}

.rpgui-container-framed {
	border-style: solid;
	border-image-repeat: repeat;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
	padding: min(1em, 4%);
}

.rpgui-container-framed {
	border-image-source: url("../img/border-image.png");
	border-image-slice: 6 6 6 6;
	border-image-width: 9px;
	background: url("../img/background-image.png") repeat repeat;
}

.rpgui-container-framed.golden {
	border-image-source: url("../img/border-image-golden.png");
	border-image-slice: 4 4 4 4;
	border-image-width: 9px;
	background: url("../img/background-image-golden.png") repeat repeat;
}

.rpgui-container-framed.golden-2 {
	border-image-source: url("../img/border-image-golden2.png");
	border-image-slice: 8 8 8 8;
	border-image-width: 8px;
	background: url("../img/background-image-golden2.png") repeat repeat;
}

.rpgui-container-framed.grey {
	border-image-source: url("../img/border-image-grey.png");
	border-image-slice: 3 3 3 3;
	border-image-width: 7px;
	background: url("../img/background-image-grey.png") repeat repeat;
}

/* color rpgui-container-framed-grey-mini */
.rpgui-container-framed.grey.strength {
	/* background */
	background: url("../img/background-image-red.png") repeat repeat;
}

.rpgui-container-framed.strength {
	/* background */
	background: url("../img/background-image-red.png") repeat repeat;
}

.rpgui-container-framed.grey.dexterity {
	/* background */
	background: url("../img/background-image-green.png") repeat repeat;
}

.rpgui-container-framed.dexterity {
	/* background */
	background: url("../img/background-image-green.png") repeat repeat;
}

.rpgui-container-framed.grey.constitution {
	/* background */
	background: url("../img/background-image-yellow.png") repeat repeat;
}

.rpgui-container-framed.constitution {
	/* background */
	background: url("../img/background-image-yellow.png") repeat repeat;
}

.rpgui-container-framed.grey.intelligence {
	/* background */
	background: url("../img/background-image-blue.png") repeat repeat;
}

.rpgui-container-framed.intelligence {
	/* background */
	background: url("../img/background-image-blue.png") repeat repeat;
}

.rpgui-container-framed.grey.wisdom {
	/* background */
	background: url("../img/background-image-greylght.png") repeat repeat;
}

.rpgui-container-framed.wisdom {
	/* background */
	background: url("../img/background-image-greylght.png") repeat repeat;
}

.rpgui-container-framed.grey.charisma {
	/* background */
	background: url("../img/background-image-pink.png") repeat repeat;
}

.rpgui-container-framed.charisma {
	/* background */
	background: url("../img/background-image-pink.png") repeat repeat;
}