/**
* customized divs (containers) and framed objects (background and frame image).
*/

/* game div without background image*/
.rpgui-container
{
	/* position style and default z */
	position: fixed;
	z-index: 10;

	overflow: show;
}

@media (max-width: 900px) {
    .rpgui-container-framed {
        font-size: 80%;
		padding: 10px;
    }
}

@media (max-width: 600px) {
    .rpgui-container-framed {
        font-size: 65%;
		padding: 6px;
    }
}

/* game div with background image*/
.rpgui-container-framed
{
	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image.png");
	border-image-repeat: repeat;
	border-image-slice: 10 10 10 10;
	border-image-width: 18px;
	border-width: 15px;
	padding: 12px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../img/background-image.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

/* game div with golden background image*/
.rpgui-container-framed-golden
{
	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image-golden.png");
	border-image-repeat: repeat;
	border-image-slice: 4 4 4 4;
	border-image-width: 18px;
	border-width: 15px;
	padding: 12px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../img/background-image-golden.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

/* game div with golden2 background image*/
.rpgui-container-framed-golden-2
{
	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image-golden2.png");
	border-image-repeat: repeat;
	border-image-slice: 8 8 8 8;
	border-image-width: 18px;
	border-width: 15px;
	padding: 12px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../img/background-image-golden2.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.rpgui-container-framed-golden-2-mini
{
	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image-golden2.png");
	border-image-repeat: repeat;
	border-image-slice: 8 8 8 8;
	border-image-width: 8px;
	border-width: 6px;
	padding: 6px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../img/background-image-golden2.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;

	text-align: center;
}

/* game div with soft grey background image*/
.rpgui-container-framed-grey
{
	position: relative;

	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image-grey.png");
	border-image-repeat: repeat;
	border-image-slice: 3 3 3 3;
	border-image-width: 7px;
	border-width: 7px;
	padding: 12px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../img/background-image-grey.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.rpgui-container-framed-grey-mini
{
	position: relative;

	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image-grey.png");
	border-image-repeat: repeat;
	border-image-slice: 2 2 2 2;
	border-image-width: 4px;
	border-width: 4px;
	padding: 4px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	text-align: center;

}

.rpgui-container-framed-grey-mini
{
	position: relative;

	/* border */
	border-style: solid;
	border-image-source: url("../img/border-image-grey.png");
	border-image-repeat: repeat;
	border-image-slice: 2 2 2 2;
	border-image-width: 4px;
	border-width: 4px;
	padding: 4px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../img/background-image-grey.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.rpgui-container-framed-grey-mini.strenght
{
	/* background */
	background: url("../img/background-image-red.png") repeat repeat;
}

.rpgui-container-framed-grey-mini.dexterity
{
	/* background */
	background: url("../img/background-image-green.png") repeat repeat;
}
.rpgui-container-framed-grey-mini.constitution
{
	/* background */
	background: url("../img/background-image-yellow.png") repeat repeat;
}
.rpgui-container-framed-grey-mini.intelligence
{
	/* background */
	background: url("../img/background-image-blue.png") repeat repeat;
}
.rpgui-container-framed-grey-mini.wisdom
{
	/* background */
	background: url("../img/background-image-greylght.png") repeat repeat;
}
.rpgui-container-framed-grey-mini.charisma
{
	/* background */
	background: url("../img/background-image-pink.png") repeat repeat;
}
