/**
* input styling
*/

/* input/textarea input */
.rpgui-content-input,
.rpgui-content-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;

  color: #f0f0f0;
  background-color: #3a3a3a;
  border: 2px solid #777;
  border-radius: 6px;

  outline: none;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

/* selection highlight */
.rpgui-content input::selection,
.rpgui-content textarea::selection {
  background: rgba(0, 0, 0, 0.5);
}

.rpgui-content input:focus {
  background: rgba(0, 0, 0, 0.5);
}

.rpgui-content input::-moz-selection,
.rpgui-content textarea::-moz-selection {
  background: rgba(0, 0, 0, 0.5);
}

/* .rpgui-content input {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.rpgui-content input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.rpgui-content input:focus,
.rpgui-content input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.rpgui-content label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.rpgui-content label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rpgui-content input:focus+label span,
.rpgui-content input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
} */