@import '_imports';
@import '_misc';

@import '_button';
/*@import 'checkbox'; */
@import '_content';
@import '_containers_and_frames';
@import '_cursor';
@import '_dropdown';
@import '_hr';
@import '_icon';
@import '_input';
@import '_list';
@import '_paragraphs_and_headers';
/*@import 'progress_bar';
@import 'radio'; */
@import '_scrollbars'; 
/* @import 'disabled'; */
@import '_slider'; 

body
{
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    padding: 10px;
  }